@use "../../colors.scss" as *;

.container {
  display: flex;
  align-items: center;
}

.moonIcon {
  width: 20px;
  height: 20px;
  color: $color-sonic-silver;
  margin-left: 12px;
}

.moonIconDarkMode {
  color: $color-purple;
}
