@use "../../../../colors.scss" as *;

.container {
  margin-top: 24px;
}

.hint {
  color: $color-sonic-silver;
  text-decoration: underline;
  margin-bottom: 8px;
}

.link {
  text-decoration: underline;
}

.linkText {
  color: var(--color-carbon-fiber);
  text-decoration: underline;
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
