@use "../../colors.scss" as *;

.container {
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bookIcon {
  color: $color-sonic-silver;
}

.rightSide {
  display: flex;
  align-items: center;
  gap: 16px;
}
