@use "../../colors.scss" as *;
@use "../../breakpoints.scss" as *;

.container {
  margin: 0 auto;
  padding: 24px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 327px;
  @include for-tablet-up {
    max-width: 689px;
  }
}

.bookIcon {
  color: $color-sonic-silver;
}

.rightSide {
  display: flex;
  align-items: center;
  gap: 16px;
}
