@use "../../../colors.scss" as *;

.bodySizeS {
  font-size: 14px;
  line-height: 17px;
  color: $color-black-metal;
}

.bodySizeM {
  font-size: 18px;
  line-height: 24px;
  color: var(--color-carbon-fiber);
}
