@import "~normalize.css";

* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 0;
}

a {
  color: inherit;
}
