.searchInput {
  margin-bottom: 24px;
}

.content {
  display: grid;
  row-gap: 34px;
  margin-bottom: 32px;
}

.line {
  margin-bottom: 24px;
}

.synonymsList {
  margin-top: 24px;
}

.header {
  margin-bottom: 34px;
}
